{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}
  <link type="text/css" rel="stylesheet" href="/adp/adp.min.css">
{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-4 pb-6">
    <div class="row">
      <div class="col-12">
        <h1 class="title">{{ .Title | default .Site.Title }}</h1>
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p>{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>
        <a class="button button-primary mb-2" href="{{ .Site.Params.homepage_button_link | relURL }}">
          {{ .Site.Params.homepage_button_text }}
        </a>
      </div>
    </div>
  </div>
</div>

{{/* custom html */}}
<div class="strip">
  <div class="container pt-4 pb-8" >
    <div class="row justify-content-center adp-hide" id="github-slack">
      <div class="col-12 col-md-10">
        <img src="/images/github-slack.png" style="max-width: 100%"/>
      </div>
    </div>
    <div class="row justify-content-center adp-hide" id="jira-slack">
      <div class="col-12 col-md-10">
        <img src="/images/jira-slack.png" style="max-width: 100%"/>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
  {{/* 
  ADP plugin
  https://bilalshareef.github.io/animate-display-property/index.html 
  */}}
  <script type="text/javascript" src="/adp/adp.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      setTimeout(() => {
        var github = document.querySelector("#github-slack")
        ADP.show(github, 'slide-down')
      }, 500)
      setTimeout(() => {
        var github = document.querySelector("#jira-slack")
        ADP.show(github, 'slide-down')
      }, 1500)
    });
  </script>
{{ end }}
