<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic"><a href="https://github.com/heytaco-anywhere/community/discussions">Community</a></li>
            <li class="zerostatic"><a href="/support">Support</a></li>
            <li class="zerostatic"><a href="/privacy">Privacy</a></li>
            <li class="zerostatic"><a href="https://heytaco-anywhere.chat">heytaco-anywhere.chat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
